<!DOCTYPE html>
<html lang="en">
<head>
    <title>insta485</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <h1>
        <a href="/" style="font-size: xx-large;">HOME</a>
        <span>insta485</span>
        <span style="float: right;">
            <a href="/explore/">explore</a> |
            <a href="/users/{{logname}}/">{{logname}}</a>
        </span>
    </h1>
    <hr>
    <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
      Old password <input type="password" name="password" required/>
      New password <input type="password" name="new_password1" required/>
      New password, again <input type="password" name="new_password2" required/>
      <input type="submit" name="update_password" value="submit"/>
      <input type="hidden" name="operation" value="update_password"/>
  </form>
  <p>
      
      <a href="{{edit_link}}">Back to edit</a>
    </p>
</body>
</html>
